<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UpdateSQLTools.Properties.Settings.AccessConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\bjc\shares\Documents\WAREHOUSE\WhseTrac\tools.mdb" providerName="System.Data.OleDb"/>
        <add name="UpdateSQLTools.Properties.Settings.whsetracConnectionString" connectionString="Data Source=BJC-SQL\WHSETRACK;Initial Catalog=whsetrac;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
